.order-table__title С этим товаром смотрят
each item in BasketProductsMenuWatchWith
  .order-table__block.order-table__mr
    .order-table.basket
      .order-table__row
        .order-table__item.catalog-item1
          .order-table__img
            .order-photo-holder
              img.cover(src=`../dummy/catalog/${item.img}`)
          .order-table__info
            div.order-table__row
              .order-table__name= item.title 
              a.order-table-heart(href='#') 

            .order-table__price= item.price + ' РУБ.'
            .order-table__color
              +color(dataTableColorItem1, activeLink1, '')

            //- .order-table__link
            //-   a(href='#') 1Добавить к заказу
            include ../basket/product-size-select
