.big-grid {
  border:1px solid red;
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  gap: 20px;

}

.big-grid__item-one-center {
  grid-column: 9/21;
  border: 1px solid green;
  text-align: center;
}

.big-grid__item-double-center {
  grid-column: 3/27;
  border: 1px solid red;
  text-align: center;
}


.big-grid__item-two-center-left {
  grid-column: 3/15;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-two-center-right {
  grid-column: 15/27;
  border: 1px solid green;
  text-align: center;
}


.big-grid__item-four-left {
  grid-column: 3/11;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-four-center {
  grid-column: 11/19;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-four-right {
  grid-column: 19/27;
  border: 1px solid green;
  text-align: center;
}


.big-grid__item-three-one {
  grid-column: 3/9;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-three-two {
  grid-column: 9/15;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-three-three {
  grid-column: 15/21;
  border: 1px solid green;
  text-align: center;
}
.big-grid__item-three-four {
  grid-column: 21/27;
  border: 1px solid green;
  text-align: center;
}

.height-50 {
    height: 50%;
}