.big-grid {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    column-gap: 20px;
    row-gap: 100px;

    @media screen and (max-width: 600px) {
        column-gap: 6px;
        row-gap: 50px;
    }

    // тянем картинку на всю ширину экрана
    @media screen and (max-width:480px) {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }

    .slick-track img.cover { 
        position: relative;
    }
}

.mtb-100-xs-lg {
    margin: 100px 0 100px 0;

    @media screen and (max-width: 600px) {
        margin: 50px 0 50px 0;
    }
}

// текст по середине
.big-grid__item-one-center-text {
    grid-column: 5/25;
    text-align: center;

    .catalog-item-text {
        margin: 0 auto;
    }

    @media screen and (max-width: 600px) {
        grid-column: 1/29;
    }
}


// одна фотка по середине
.big-grid__item-one-center {
    grid-column: 9/21;
    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 1/29;
    }

    // .catalog-item.w2 .catalog-item-photo-holder {
    //     padding-top: 149%;
    //     // border: 1px solid violet;
    // }

    // .catalog-item.w2 .catalog-item-photo-holder .slick-list.draggable {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }

}

.big-grid__item-double-center {
    grid-column: 3/27;
    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 1/29;
    }
}


// настройка соот высоты/ширины картинки для всех карточек
.catalog-item.w2 .catalog-item-photo-holder {
    padding-top: 149%;
    // border: 1px solid violet;
}

.catalog-item.w2 .catalog-item-photo-holder .slick-list.draggable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.big-grid__item-two-center-left {
    grid-column: 3/15;
    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 1/29;
    }

    @media screen and (max-width: 480px) {
        .catalog-item-title {
            padding-left: 15px;
            padding-right: 15px;
        }
        .catalog-item.w2 .order-table__color { 
            right: 15px;
        }
    }
}

.big-grid__item-two-center-right {
    grid-column: 15/27;
    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 1/29;

        &.empty {
            display: none;
        }
    }
    @media screen and (max-width: 480px) {
        .catalog-item-title {
            padding-left: 15px;
            padding-right: 15px;
        }
        .catalog-item.w2 .order-table__color {
            right: 15px;
        }        
    }    
}

// ------три фото в ряд--------------------

.big-grid__item-four-left,
.big-grid__item-four-center,
.big-grid__item-four-right {
    text-align: center;
}


.big-grid__item-four-left {
    grid-column: 3/11;
}

.big-grid__item-four-center {
    grid-column: 11/19;
}

.big-grid__item-four-right {
    grid-column: 19/27;
}

// ---------/три фото в ряд-----------


.big-grid__item-three-one {
    grid-column: 3/9;

    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 3/15;
    }
}

.big-grid__item-three-two {
    grid-column: 9/15;

    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 15/27;
    }
}

.big-grid__item-three-three {
    grid-column: 15/21;

    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 3/15;
    }
}

.big-grid__item-three-four {
    grid-column: 21/27;

    text-align: center;

    @media screen and (max-width: 600px) {
        grid-column: 15/27;
    }
}

.height-50 {
    height: 50%;
}

// -----------надо сделать такие отступы для каждого .big-grid__...   свои----------------------------------
.big-grid__item-double-center {

    .catalog-item.w2 .catalog-item-photo-holder {
        padding-top: calc(85% - 170px);
    }

    .catalog-item.w2 .slider-size {
        bottom: 85px;
    }

}

// тянем на всю ширину экрана
// отступы для цены
@media screen and (max-width:480px) {

    .big-grid__item-one-center .catalog-item-title,
    .big-grid__item-double-center .catalog-item-title {
        margin-left: 15px;
        margin-right: 15px;
    }

    .big-grid__item-one-center .catalog-item.w2,
    .big-grid__item-double-center .catalog-item.w2 {

        .catalog-item-title {
            margin-left: 15px;
            margin-right: 15px;
        }

        .order-table__color {
            right: 15px;
        }
    }

}


