@import '../variables.scss';

.product-photos-gallery {
  border: 1px solid red;

  .slick-list {
    padding: 0px 50px;
    margin-left: -50px;
    margin-right: -50px;
    width: calc(100% + 100px);
  }
}

.product-photos-gallery__item {
  
}
.product-photos-gallery__img {
  object-fit: cover;
  width: 100%;
}