.page-popup.card-popup {
    max-width: 96%;
    height: 100vh;
}
.card-popup .card-popup-media {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}
.card-popup .card-popup-photos {
    width: 100%;
}
