.card-photos__wrapper {
  border: 1px solid violet;
  max-width: 300px;
  display: flex;
}

.card-photos {
  max-width: 300px;
}

.card-photos-nav {
  max-width: 100px;
  max-height: 100px;
}