@import '../variables.scss';

.page-footer {
    padding: 0;
    background-color: transparent;
    color: $color-black;
    font-size: 14px;
}

.footer-top {
    margin-bottom: 70px;
}

.footer-top a {
    text-decoration: none;
    color: $color-gray-four;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


ul.footer-top__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-top__item {
	border: 1px solid $color-gray-two;
	display: flex;
	flex: 1;
	height: 70px;
	&:first-child {
		border-left: 1px solid transparent;
	}
	&:last-child {
		border-right: 1px solid transparent;
	}
}

.footer-link-ios,
.footer-link-android {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.footer-link-ios::before,
.footer-link-android::before {
    content: "";
    margin-right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

.footer-link-ios::before {
    background: url(../../svg/ios.svg) no-repeat center center;
}

.footer-link-android::before {
    background: url(../../svg/android.svg) no-repeat center center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer-content>div {
    display: flex;
    flex: 1;
}

.footer-content__list:first-child {
    margin-right: 100px;
}

.footer-bottom__right,
.footer-bottom__center a,
.footer-bottom__list a,
.footer-content__list a {
    text-decoration: none;
    color: $color-gray-four;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-content__list li {
    margin-bottom: 10px;
}

.footer-content .footer-content__center {
    flex: 2;
}

.footer-content__right {
    justify-content: flex-end;
    flex-direction: column;
}

.footer-content .accordion-item-heading {
    color: $color-gray-four;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

.footer-content .accordion-item {
    border: none;
    border-bottom: 1px solid $bgcolor-gray;
}

.footer-content .accordion-item .accordion-item-heading:after {
    width: 1px;
}

.footer-content .accordion-item .accordion-item-heading:before {
    height: 1px;
}

.footer-text {
    color: $color-gray-four;
}

.privacy-policy {
    color: $color-gray-four;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.privacy-policy a {
    color: $color-gray-four;
}

.footer-form__form {
    width: 100%;
    display: flex;

    input::placeholder {
        color: $color-gray-four;
        font-family: 'SFProDisplay', 'Arial', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
}

.footer-content__right-content {
    max-width: 390px;
}

.footer-form__form input,
.footer-form__form button {
    font-family: 'SFProDisplay', 'Arial', sans-serif;
    display: flex;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 5px;
    color: $color-gray-four; 

}
.footer-form__form input {
    border: 1px solid $color-gray-two;
}

.footer-form__form input {
    width: 100%;
    padding: 15px;
}

.footer-form__form button {
    width: 56px;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding-top: 27px;
}

.footer-bottom>div {
    display: flex;
    flex: 1;
}

.footer-bottom__list {
    display: flex;
    justify-content: space-between;
}

.footer-bottom__list li:first-child {
    margin-right: 45px;
}

.footer-bottom__center {
    flex: 2;
    justify-content: center;
}

.footer-bottom__right {
    justify-content: right;
}

.btn--white {
    padding: 0 20px;
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-gray-two;
    &:hover {
        background-color: $color-black;
        color: $color-white; 
    }
}

@media screen and (max-width: 990px) {


    .footer-top {
        margin-bottom: 0px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content>div {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .footer-content__right-content {
        max-width: 80%;
        margin: auto;
    }

    .footer-content__center {
        margin: 50px auto;
    }

}

@media screen and (max-width: 768px) {

    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom>div {
        display: flex;
        flex: 1;
        width: 100%;
        justify-content: center;
    }

    .footer-content__center {
        margin: 30px auto;
    }

}