.mobile-filter label,
.mobile-filter input { /* label */
    font-weight: lighter;
}


// -------#auth-form_email----------------------
#auth-form {
    padding-top: 130px;
}

.forgot-password {
    padding: 0 45px;
}

  // ------/-#auth-form_email----------------------