@import '../variables.scss';

.mobile-filter label,
.mobile-filter input {
    /* label */
    font-weight: lighter;
}


// -------#auth-form_email----------------------

.forgot-password {
    padding: 0 45px;
}



#auth-form {
    padding-top: 100px;

    .page-popup-title {
        margin-bottom: 20px;
    }

    .page-popup-title--small {
        margin-bottom: 50px;
    }

    .form-row {
        margin-bottom: 33px;
    }

    .new-code {
      color: #7C7C7C;
      text-align: center;
    }
}


.reg-form {
    &__width {
        max-width: 500px;
        margin: auto;

        @media screen and (max-width: 768px) {
            max-width: calc(100% - 2*30px); 
        }
    }   

}