/* ===============.product-photos======================= */
.products-photos-only-mobile {
  display: none !important;
}

.products-photos-only-desktop {
  display: block !important;
}

.for-slick-slider {
  min-width: 0;
}

@media screen and (max-width: 1230px) {
  .products-photos-only-mobile {
    display: flex !important;
  }
  .products-photos-only-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1230px) {
  .product-photos-nav {
    display: none;
  }
}
@media screen and (min-width: 1230px) {
  .product-photos-nav {
    max-width: 70px;
    position: absolute;
    top: 0px;
    height: 100%;
    background: #fff;
  }
  .product-photos-nav.slick-list.draggable {
    height: 100vh !important;
    background: #fff;
  }
}

@media screen and (max-width: 1230px) {
  .product-photos__inner {
    display: block;
  }
}
@media screen and (min-width: 1230px) {
  .product-photos__inner {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
}

.product-photos-gallery {
  position: relative;
}
.product-photos-gallery .slick-list {
  padding: 0px 50px;
  margin-left: -50px;
  margin-right: -50px;
  width: calc(100% + 100px);
}
.product-photos-gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.product-photos-gallery .slick-dots {
  position: relative;
  top: -50px;
}

@media screen and (max-width: 768px) {
  .products-photos__wrapper {
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}