@import '../variables.scss';


#map {
    width: 100%;
    height: 500px;
}

.item-shop {
    border: 1px solid $color-gray-two;
    padding: 40px;
    margin: 20px;

    @media screen and (max-width:768px) {
        border: none;
        border-top: 1px solid $color-gray-two;
        border-bottom: 1px solid $color-gray-two;
        padding: 20px;
        margin: 10px;
    }



    &-info {
        line-height: 20px;
        line-height: 25px;
        max-width: 340px;
    }

    &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    &-phone {
        margin: 15px 0;
        font-weight: 600;


    }
}

.page-shop-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 46px;
}

// сбрасываю отступы 
.page-inner--shops {

    @media screen and (max-width:768px) {
        padding: 0;

        .row>* {
            padding: 0;
        }
    }

}