#catalog-basket.basket-menu.basket-menu_visible1

    .basket-inner.page-inner--w2
      .basket-open.basket-menu__close
      .basket-menu-sections
        .basket-mobile-menu__body.simplebar
          include ../messages/basket-empty