
mixin listLinks(classname,titlename,...items)
  ul(class= ""+classname)
    li.search-history__title= titlename
      each item in items
        li
          a.search-history__link(href='#')= item   

#catalog-search-menu.catalog-search-menu
  .page-inner.page-inner--w2
    .menu-sections
      .menu-sections__inner.page-inner--w2
        form(action='search.html')
          include ../search-form
          .search-results
            .search-history
              +listLinks('search-history__list', 'ИСТOРИЯ ПOИСКА', 'Платье', 'Жабо', 'Юбка')
              +listLinks('search-history__list', 'Часто ищут', 'Боди', 'Платье', 'Топы', 'Футболки')

            .search-products.for-slick-slider
              .row.search-products__catalog-items(style='margin-right: -20px; width: calc(100% + 41px);')
                  //- поставить слайдер
                  include ../slider-search-menu
                  //- .col-3
                  //-   .catalog-item.w1
                  //-     .catalog-item-photo-holder
                  //-       img.cover(src=`../dummy/catalog/${item.img}`)
                  //-     .catalog-item-title= item.title
                  //-     .catalog-item-price= item.price
                  //-     a.catalog-item-link(href=`${item.href}`)
                  //-     button.catalog-item-like(type='button') 