- 
    const firstBuyersItems = [
        {name: 'Подарочные сертификаты', href: '#cm1'},
        {name: 'Доставка и оплата', href: '#cm2'},
        {name: 'Гарантия и возврат', href: '#'}, 
        {name: 'Система лояльности', href: '#'},
        {name: 'Руководство по покупке', href: '#'},
        {name: 'Работа у нас', href: '#'},
        ]
    const secondBuyersItems = [
        {name: 'Telegram', href: '#cm1'},
        {name: 'Вконтакте', href: '#cm2'},
        {name: '8 800 350 89 91', href: 'tel:+88003508991'}, 
        {name: '+7 929 608 13 32', href: 'tel:+79296081332'},
        ]
    const thirdBuyersItems = [
        {name: 'О компании', href: '#cm1'},
        {name: 'Контакты', href: '#cm2'},
        {name: 'Магазины', href: '#'}, 
        {name: 'Мои заказы', href: '#'},
        ]

#catalog-buyer-menu.catalog-buyer-menu
  .page-inner
    .menu-sections
      ul.buyer-menu__list
        each item in firstBuyersItems
          li
            a.buyer-menu__link.active(href=`${item.href}`)= item.name

      ul.buyer-menu__list
        each item in secondBuyersItems
          li
            a.buyer-menu__link.active(href=`${item.href}`)= item.name

      ul.buyer-menu__list
        each item in thirdBuyersItems
          li
            a.buyer-menu__link.active(href=`${item.href}`)= item.name      