
.page-inner.page-inner--w1.desktop
  .header-menu
    .header-menu__left
      ul.header-menu__list
        li.header-menu__item.header-menu__item_catalog
          a.header-menu__item-catalog.catalog-open(href='#')
            span Каталог
        li.header-menu__item.header-menu__item-dropdown.catalog-dropdown
          a(href='#')
            span Покупателям
        li.header-menu__item.header-menu__item_shops
          span
            a(href='shops.html') Магазины
        li.header-menu__item.header-menu__item_blog
          span
            a(href='#') Блог
        li.header-menu__item.header-menu__item_search.catalog-search-open.only-mobile_header-menu
          a(href='#')
            span Поиск
    .header-menu__center
      a.header-logo(href='#')
        img(src='../svg/header_logo.svg' alt='')
    .header-menu__right
      ul.header-menu__list
        li.header-menu__item.header-menu__item_search.catalog-search-open.only-desktop_header-menu
          a(href='#')
            span Поиск
        li.header-menu__item.header-menu__item_enter
          //- a.header-toolbar-item(href='#auth-form' data-popup='{"type":"inline"}')
          a.header-login-item(href='login.html')
            span Вход
        li.header-menu__item.header-menu__item_favorites
          a(href='favorites.html')
            span Избранное
        li.header-menu__item.header-menu__item_basket
          a.header-basket-item.basket-open(href='#')
            img(src='../svg/basket.svg')
            span.dot