- 
    const activeLink = 'Личные данные'


mixin menu(classname, data, activeLink)
  div(class= ""+classname)
    each item in data
      div(class='personal-menu-item')
        if (activeLink === item.name)
          a(href=`${item.url}` class=`link link--black active`)= item.name  
        else 
          a(href=`${item.url}` class=`link link--black`)= item.name   


+menu('personal-menu', personalMenuData, activeLink)