extends layout/main

block variables

  - var title = 'корзина'
  - var mainPage = false


block content
  main.page-content
    .page-inner.page-inner--w2
      .basket__header

        .row.align-items-end.justify-content-between
          .col-md-6
            .d-md-none.mb-3
              a.link.link--black(href='#') Вернуться в корзину
            h1.h1 Оформление заказа
            p.mt-2.fs16  Обработка заказов ежедневно
              nobr 09:00 — 21:00
          .col-auto.d-none.d-md-block
            span 
              a.link.link--black(href='#') Вернуться в корзину

      .basket__body
        .basket__body-left
          include modules/basket/items-in-order
          include modules/basket/basket-form
        
        .basket__body-right
          include modules/basket/total-cost

//- block footer-popups
//-   h1 footer-popups
//-   include modules/popups/show-on-map-popup        