extends layout/main

block variables
  - var title = 'корзина пуста'
  - var mainPage = false


block content
  main.page-content
    .page-inner.page-inner--w3
      .page-heading
        .page-heading-description
          include modules/messages/basket-empty
      .page-inner--w1.page-inner.hidden-x
        .page-inner.page-inner--w2
          include modules/slider-prev-watched 