- var pageTitle = 'Брусника'

doctype html
html.no-js(lang='ru', prefix='og:http://ogp.me/ns#')
  head
    include modules/head  
    style 
      include css/style.css     
  body
    .page
      include modules/page-note
      include modules/header
      include modules/size-menu
      main.page-content
        .page-inner.page-inner--w1
          section.page-section
            include modules/card
          include modules/card-nav
          include modules/complete-look
          include modules/slider-you-also-like
      include modules/footer
    include modules/footer-popupss
    include modules/card-popup
    include modules/footer-scripts