extends layout/main

block variables
  - var title = 'карточка товара'
  - var mainPage = false


block content
    main.page-content
      .page-inner.page-inner--w1
          include modules/card
          include modules/card-nav

      .page-inner.page-inner--w2  
        include modules/complete-look
        
        section.section
          .page-inner.plr0
            .catalog
              include modules/slider-you-also-like

        //- include modules/slider-prev-watched 
 
