extends layout/main

block variables
  - var title = 'Личный кабинет'
  - var mainPage = false


block content
  main.page-content
    .page-section.dasboard-page
      .page-inner.page-inner--w2
        .page-heading
          .page-heading-title
            span.d-none.d-lg-block.h1= title
            span.d-lg-none.uppercase.h1 Максим Петров
          .page-heading-description.d-lg-none
            .h1 Здравствуйте, Максим
      .page-inner.page-inner--w2
        .d-none.d-lg-block
          .row.mb-4.align-items-baseline
            .col-auto
              .h2 Здравствуйте, Максим
            .col-auto
              a.link.link--black_border(href='#') ВЫЙТИ
        .row.personal-blocks

         each item in personalMenuData
          .col-lg-3.mb-lg-4
            a.personal-block(href=`${item.url}`)
              span.h3.uppercase= item.name 