extends layout/main

block variables
  - var title = 'Личный кабинет'
  - var mainPage = false


block content
  main.page-content
    .page-section.personal-page
      .page-inner.page-inner--w2
        .page-heading
          .page-heading-title.page-heading-title_personal.uppercase= title
          .page-heading-description.d-lg-none
            | Здравствуйте, Максим
      .page-inner.page-inner--w2
        .d-none.d-lg-block
          .row.mb-4.align-items-baseline
            .col-auto
              .h2 Здравствуйте, Максим
            .col-auto
              a.link.link--black_border(href='#') ВЫЙТИ
        .row.personal-blocks

          each item in personalMenuData
            .col-lg-3.mb-lg-4
              a.personal-block(href=`${item.url}`)
                span.h3.uppercase= item.name 