
extends layout/main

block variables
  - var title = 'Брусника/favorites'
  - var mainPage = false


block content
  main.page-content
    .page-section.page-section--brand
      .page-inner.page-inner--w2 
        .favorites__share
          .favorites__count-title Избранное (8)
          a(href='#') поделиться
        include modules/favorites 
        section.page-inner.hidden-x(style='margin-top: 100px;')
          .page-inner.page-inner--w2
            .catalog
              include modules/slider-prev-watched