- var pageTitle = 'Брусника'

doctype html
html.no-js(lang='ru', prefix='og:http://ogp.me/ns#')
  head
    include modules/head 
    style 
      include css/style.css    
  body
    .page
      include modules/page-note
      include modules/header
      h1 Pug - node template engine
      include modules/footer
    include modules/footer-popups
    include modules/footer-scripts