extends layout/main

block variables
  - var title = 'Текущие заказы'
  - var mainPage = false


block content
  main.page-content
    .page-section
      .page-inner.page-inner--w2
        .page-heading
          .row
            .col-md-4 
              .mb-4.d-lg-none
                a.link.link--gray_border(href="dashboard.html") Личный кабинет
              .page-heading-title.page-heading-title_personal.uppercase отмена заказа
            .col-md-8
              .page-heading-title.border-top-gray.only-desktop &nbsp;

        .row
            .col-md-3.d-none.d-lg-block 
              +menu('personal-menu', personalMenuData, title)
            .col-lg-1
            .col-12.col-md-8.offset-md-2.col-lg-9.offset-lg-0.col-xl-8
              include modules/personal/order-cancel 