extends layout/main

block variables
  - var title = 'профили заказов'
  - var mainPage = false


block content
  main.page-content
      .page-inner.page-inner--w2
        .page-heading
          .row
            .col-12.col-md-8.offset-md-2.col-lg-12.offset-lg-0
              .mb-4.d-lg-none
                a.link.link--gray_border(href="dashboard.html") Личный кабинет
              .page-heading-title.h1 ПРОФИЛИ ЗАКАЗОВ

        .row
           .col-md-3.d-none.d-lg-block 
                include modules/menus/personal-menu
           .col-lg-1
           .col-12.col-md-8.offset-md-2.col-lg-9.offset-lg-0.col-xl-8
               include modules/personal/profiles 