extends layout/main

block variables
  - var title = 'поиск'
  - var mainPage = false


block content
    main.page-content
      .page-inner.page-inner--w3
        .page-heading
          .page-heading-description
            form.search-form__form(action="search.html")
              include modules/search-form
              include modules/search-rezult
      .page-section.page-section--search
        .page-inner.page-inner--w1.page-inner--mobile_empty
        .page-inner.page-inner--w2 
          include modules/catalog 
        .page-inner--w1.page-inner.hidden-x
          .page-inner.page-inner--w2
            .catalog
              include modules/slider-prev-watched 