
extends layout/main

block variables
  - var title = 'Mагазин-карта'
  - var mainPage = false


block content
  main.page-content
    .page-section.page-section--brand
      .page-inner.page-inner--w1.page-inner--mobile_empty
        .page-shop-title.uppercase МАГАЗИНЫ
        include modules/filters/filter-shops
      .page-inner.page-inner--w2.page-inner--shop-map
        include modules/shop-map
