.cards__item {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: #1e1e1e;
    max-height: 532px;
}

.cards__2x2item {
    grid-column: 1/3;
    grid-row: 1/3;
}

.cards__2x2item .cards__pic {
    background-color: transparent;
    margin-bottom: 20px;
}

.cards__2x2 item .cards__img {
    object-fit: none;
}
