@import '../variables';

.personal {
  display: flex;
  flex-direction: row;
  gap: 222px;
  flex-wrap: wrap;

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  &-menu {
    max-width: 100%;
    min-width: 250px;
    min-height: 376px;
    padding: 45px 50px;
    background-color: #f7f5f5;
    border-radius: 0;

    a,
    a:hover {
      color: #1d1d1d;
      text-decoration: none;
    }

    a.active {
      font-weight: bold;
    }

    &__link {
      margin-bottom: 15px;
      color: #1d1d1d;
    }
  }

  &__menu {
    width: 320px;
  }

  &__content {
    min-width: 456px;
  }

  &__link {
    position: relative;

    .loyalty-card {
      top: 25px;
      left: -138px;
      position: relative;
    }

  }

  &-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;

    @media screen and (max-width:991px) {
      grid-template-columns: none;
      
    }
  }

  // &-grid-block-one,
  // &-grid-block-two {
  //   border: 1px solid green;
  // }
}



.page-section_personal {
  padding-bottom: 0;
}

/*** Personal ***/

.personal-blocks .personal-block {
  position: relative;
  display: block;
  padding-top: 64%;
  background-color: $bgcolor-gray;
  text-decoration: none;
  text-align: center;
  color: $color-black;
  transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.personal-blocks .personal-block span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px;
}

.personal-blocks .personal-block ins {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  min-width: 30px;
  background-color: #ff300a;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.personal-blocks .personal-block:hover {
  background-color: #fbfbfb;
}

.personal-menu {
  max-width: 320px;
  padding: 45px 50px;
  background-color: #f7f5f5;
  border-radius: 0px;
}

.personal-menu .personal-menu-item {
  margin-bottom: 15px;
}

.personal-menu .personal-menu-item span {
  vertical-align: top;
  position: relative;
  left: 5px;
  top: -2px;
  display: inline-block;
  padding: 0 8px;
  background-color: #ff300a;
  border-radius: 20px;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
}

.personal-menu .personal-menu-item:last-child {
  margin-bottom: 0;
}

.order-item {
  margin-bottom: 50px;
  padding-bottom: 50px;
  // border-bottom: 1px solid $color-black;
}

.order-item.noborder {
  border-bottom: none;
}

.order-item.noborder:last-child {
  padding-bottom: 0;
}

.order-item:last-child {
  margin-bottom: 0;
}

.order-table>.row {
  position: relative;
  padding: 20px 0;
}

.order-table>.row:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(var(--bs-gutter-x) * 0.5);
  right: calc(var(--bs-gutter-x) * 0.5);
  display: block;
  height: 1px;
  background-color: $color-gray-two;
}

.order-table>.row:first-child {
  padding-top: 0;
  padding-bottom: 30px;
}

.order-table>.row:last-child {
  padding-bottom: 0;
}

.order-table>.row:last-child:after {
  display: none;
}

.order-table .order-photo-holder {
  position: relative;
  // padding-top: 100%;
  
  @media screen and (min-width:480px){
    width: 128px;
    height: 191px;

  }
}


/*** //Personal ***/


@media screen and (max-width:480px) {

  .personal-blocks .col-lg-3.mb-lg-4:last-child {

    a {
      text-decoration: underline;
      text-transform: uppercase;

      span {
        font-weight: 400;
      }

    }
  }
}