.message  
  .message__title СПАСИБО ЗА ЗАКАЗ!
  .message__text  Номер вашего заказа 
    b 345 789.
  .message__text
    | В течение часа с вами свяжется менеджер для подтверждения деталей.
    br 
    | Всю информациюо заказе вы можете посмотреть в личном кабинете. 
  .message__text
    | Если у вас возникли вопросы, свяжитесь 
    br
    | с нами по номеру 
    a(href="tel:+78632273135") +7 (863) 227-31-35
  .row.justify-content-center
    a.btn.btn--black.btn--medium(href='#') ПОСМОТРЕТЬ ЗАКАЗ
    