- 
  const dataList = [
    {name: 'Vnukovo Premium Outlet', balance: '1'},
    {name: 'Лесная, Москва', balance: '1'},
    {name: 'ТРК "Европолис" СПб', balance: '1'},
    {name: 'ТРК "Тандем", Казань', balance: '1'},
    {name: 'Хохрякова, Екатеринбург', balance: '2'},
    ]

include ../../mixins/util            

+listTwo('product__accordion-availability', dataList)