- 
  const dataListMeasurements = [
    {name: 'Ширина по талии', balance: '33'},
    {name: 'Длина изделия', balance: '84'},
    {name: 'Ширина по бедрам', balance: '40'},
    {name: 'Длина рукава с плечом', balance: '27'},
    {name: 'Ширина по груди', balance: '38'},
    ]

include ../../mixins/util      

+listTwo('product__accordion-availability', dataListMeasurements)
