- 
  const dataListProductCare = [
    {name: '- Ручная стирка с жидким порошком в прохладной воде до 30°С'},
    {name: '- Не отбеливать'},
    {name: '- Не использовать машинную сушку'},
    {name: '- Гладить с изнаночной стороны утюгом до 110°С, либо отпаривателем'},
    {name: '- Химчистка с использованием тетрахлорэтилена в щадящем режиме'},
    ]

include ../../mixins/util
+listOne('classList', dataListProductCare)