
#message-you-subscribed.page-popup.mfp-hide
  .page-popup-inner
    .page-popup-title Вы подписаны
    .page-popup-title--small 
         | Мы напишем вам на почту, когда эта вещь поступит в продажу
    a.btn.btn--black.btn--medium.max-w100.w100(href='#') Продолжить