.message  
  .message__title КОРЗИНА ПУСТА
  .message__text
    | Добавьте товары в корзину, 
    br 
    | или 
    a.link.link--black_border(href='#') авторизуйтесь
    | ,
    br
    | чтобы увидеть выбранные товары.

  .row.justify-content-center
    a.btn.btn--black.btn--medium(href='section.html') ПРОДОЛЖИТЬ ПОКУПКИ