.card-nav
  .card-nav__col1
    span.product-title Жакет
    span.product-price 12 500 P
  .card-nav__col2
    ul.product-list
      li.product-list-item
        a.product-list-link(href='#')
          img.product-list-img.product-list-img-1(src='../dummy/slider/c1-small.png' alt='красный цвет'  data-imgsrcnew="../dummy/slider/c1-small.png")
      li.product-list-item
        a.product-list-link(href='#')
          img.product-list-img.product-list-img-2(src='../dummy/slider/c2-small.png' alt='зеленый цвет'  data-imgsrcnew="../dummy/slider/c2-small.png")
    .product-size
      .product-size-select.product-size-select_top
        
        select.form-item.form-item--select.w100.jcf-hidden.h50
          option(value='' selected='') Выберите размер 
          option(value='S') S 
          option(value='M') M 
          option(value='L') L 
          option(value='XL') XL 

  //- .basket-mobile-menu__footer-links.card-nav-only-mobile
  //-   .basket__title-link 4 Товара на сумму
  //-   .basket__title-link 6 900 РУБ. 

  a.btn.btn--black.btn--medium.basket-open(href='#') ДОБАВИТЬ В КОРЗИНУ
