.slider-size 
    .slider-size__title Добавить в корзину  
      .slider-size__list 
        ul 
          li 
            a(href='#') XS
          li 
            a(href='#') S
          li 
            a(href='#') M
          li 
            a(href='#') L
          li 
            a(href='#') XL                     
.catalog-item-title= tovar.name
  div
    .order-table__color
      a.order-table__color-link(href="#")
        span.color-beg
      a.order-table__color-link.color-active(href="#")
        span.color-black
      a.order-table__color-link(href="#")
        span.color-beg
      a.order-table__color-link(href="#")
        span.color-black
      a.order-table__color-link(href="#")
        span.color-beg
      a.order-table__color-link(href="#")
        span.color-black
      a.order-table__color-link(href="#")
        span.color-beg
      a.order-table__color-link(href="#")
        span.color-black
    .catalog-item-color +4 цвета