block variables
  - var activeLink = 'color-beg'
  - var activeLink1 = 'color-violet'

.order-table__color
  +color(dataTableColorItem1, activeLink1, 4)
  //- a.order-table__color-link(href="#")
  //-   span.color-beg
  //- a.order-table__color-link(href="#")
  //-   span.color-black
  //- a.order-table__color-link.color-active(href="#")
  //-   span.color-beg
  //- a.order-table__color-link(href="#")
  //-   span.color-black
  //- a.order-table__color-link(href="#")
  //-   span.color-beg
  //- a.order-table__color-link(href="#")
  //-   span.color-black
  //- a.order-table__color-link(href="#")
  //-   span.color-beg
  //- a.order-table__color-link(href="#")
  //-   span.color-black
  //- .catalog-item-color +4 цвета