.card-nav
  .card-nav__col1
    span.product-title Жакет
    span.product-price 12 500 P
  .card-nav__col2
    ul.product-list
      li.product-list-item
        a.product-list-link(href='#')
          img.product-list-img(src='../dummy/catalog/c1.jpg' alt='красный цвет')
      li.product-list-item
        a.product-list-link(href='#')
          img.product-list-img(src='../dummy/catalog/c1.jpg' alt='зеленый цвет')
    .product-size
      .product-size-select
        select.form-item.form-item--select.w100.jcf-hidden
          option(value='' selected='') Выберите размер 
          option(value='42') 4122А (H-43см. D-180 мм) 
          option(value='43') 4122А (H-43см. D-180 мм) 
          option(value='44') 4122А (H-43см. D-180 мм) 
    a.btn.btn--black.btn--medium.btn--fullwidth.product-buy(href='#buy-popup' data-popup='{"type":"inline"}') В корзину
