
link(rel='stylesheet' type='text/css' media='screen' href='../css/photoswipe.css?v=724611')
.breadcrumbs
  a.link.link--gray(href='#') Назад
.product
  .product-info
    .product-info__content
      .product-razdel Жакеты
      .product-info__title
        | Классический двубортный жакет из 100% льна,
        br
        | застежка на пуговицы.
      .product-properties
        | Цвет: Коричневый
        br
        | Артикул: 005-Жа3500-15
        br
        | Состав: 100% Лён
      .accordion
        .accordion-item
          .accordion-item-heading Наличие в магазинах
          .accordion-item-content
            +listTwo('product__accordion-availability', dataList)
        .accordion-item
          .accordion-item-heading УХОД ЗА ИЗДЕЛИЕМ
          .accordion-item-content
            +listOne('classList', dataListProductCare)
        .accordion-item
          .accordion-item-heading ОБМЕРЫ 
          .accordion-item-content
            +listTwo('product__accordion-availability', dataListMeasurements)
  .products-photos__wrapper
    .product-photos__inner.products-photos-only-desktop
      .my-gallery.product-photos
        a(href='../dummy/slider/c1.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c1.png' )
        a(href='../dummy/slider/c2.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c2.png' )
        a(href='../dummy/slider/c3.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c3.png' )
        a(href='../dummy/slider/c4.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c4.png' )
        a(href='../dummy/slider/c5.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c5.png' )
        a(href='../dummy/slider/c6.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
          img(src='../dummy/slider/c6.png' )
      .product-photos-nav
        img(src='../dummy/slider/c1.png')
        img(src='../dummy/slider/c2.png')
        img(src='../dummy/slider/c3.png')
        img(src='../dummy/slider/c4.png')
        img(src='../dummy/slider/c5.png')
        img(src='../dummy/slider/c6.png')

    .product-photos__inner.products-photos-only-mobile.for-slick-slider

      .product-photos-gallery__wrapper.for-slick-slider

        .my-gallery.product-photos-gallery
          - for (var x = 0; x < 4; x++)
            .product-photos-gallery__item
              a(href='../dummy/slider/c1.png' data-pswp-width='2500' data-pswp-height='3688' target='_blank')
                img.product-photos-gallery__img(src='../dummy/slider/c1.png' )


  .product-to-basket
    span.tooltip.product-add-favorites(data-tooltip-content='#tooltip_content')
    .product-to-basket__content
      .product-title-holder
        .product-title Жакет
          //-  button.product-like(type='button')
          .product-like(type='button')
        .product-price 12 500 P
        ul.product-list 
          li.product-list-item
            a.product-list-link(href="#")
              //- img.product-list-img(src='../dummy/slider/c1-small.png' alt='красный цвет'  data-imgsrcnew="../dummy/brand.jpg")
              //- img.product-list-img(src='../dummy/slider/c1-small.png' alt='красный цвет'  data-imgsrcnew="../dummy/slider/c6.png")
              img.product-list-img.product-list-img-1(src='../dummy/slider/c1-small.png' alt='красный цвет'  data-imgsrcnew="../dummy/slider/c1-small.png")
          li.product-list-item
            a.product-list-link(href="#")
              img.product-list-img.product-list-img-2(src='../dummy/slider/c2-small.png' alt='зеленый цвет'  data-imgsrcnew="../dummy/slider/c2-small.png")
      .product-size
        .product-size__link
          a.link.link--black_border.size-open(href='#')
            | Как подобрать размер
        .product-size-select
          select.form-item.form-item--select.w100
            option(value='' selected='') Выберите размер 
            option(value='42') 4122А (H-43см. D-180 мм) 
            option(value='43') 4122А (H-43см. D-180 мм) 
            option(value='44') 4122А (H-43см. D-180 мм) 
      a.btn.btn--black.btn--medium.basket-open(href='#')
        | ДОБАВИТЬ В КОРЗИНУ

