#card-popup.page-popup.mfp-hide
  .card-popup-title.h2.only-desktop Компактный быстросъёмный Фильтр АКТИВ Сила Сердца
  .card-popup-media
    .products-photos__wrapper
      .product-photos
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c1.jpg')
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c2.jpg')
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c3.jpg')
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c4.jpg')
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c5.jpg')
            a(href='#card-popup' data-popup='{"type":"inline"}')
                img(src='../dummy/catalog/c6.jpg')
      .product-photos-nav
            img(src='../dummy/catalog/c1.jpg')
            img(src='../dummy/catalog/c2.jpg')
            img(src='../dummy/catalog/c3.jpg')
            img(src='../dummy/catalog/c4.jpg')
            img(src='../dummy/catalog/c5.jpg')
            img(src='../dummy/catalog/c6.jpg')