.filters-block
  .filters-row
    .filters-list
      a.mobile-filter-open(href='#') Фильтры(2)
    .filters-row__list.d-none.d-lg-block
      ul.filters-list
        li
          a(href='#') Эко–кожа
        li
          a(href='#') вискоза / хлопок
        li
          a(href='#') Шерсть / кашемир
        li
          a(href='#') комбинезоны
        li
          a(href='#') Цвет
    div
      ul.filters-list-small
        li
          span.active Крупно
        li
          a(href='brand.html') Мелко
