- 
  const colors = [
    {name: 'Бежевый', class: 'beige'},
    {name: 'Красный', class: 'red'},
    {name: 'Белый', class: ''},
    {name: 'Ментол', class: 'menthol'},
    {name: 'Бирюзовый', class: 'turquoise'},
    {name: 'Оранжевый', class: 'orange'},
    {name: 'Бордовый', class: 'burgundy'},
    {name: 'Розовый', class: 'pink'},
    {name: 'Голубой', class: 'blue'},
    {name: 'Серебро', class: 'silver'},
    {name: 'Деним', class: 'denim'},
    {name: 'Серый', class: 'grey'},
    {name: 'Желтый', class: 'yellow'},
    {name: 'Синий', class: 'blue'},
    {name: 'Зеленый', class: 'green'},
    {name: 'Сиреневый', class: 'lilac'},
    {name: 'Золото', class: 'gold'},
    {name: 'Фиолетовый', class: 'violet'},
    {name: 'Изумрудный', class: 'emerald'},
    {name: 'Фуксия', class: 'fuchsia'},
    {name: 'Коричневый', class: 'brown'},
    {name: 'Хаки', class: 'khaki'},
    {name: 'Молочный', class: 'lactic'},
    {name: 'Черный', class: 'black'},
    ]

.mobile-filter-item-content
  .row
      each color in colors
        .filter-row.col-6
          label.form-checkbox
            input(class=`form-item form-item--checkbox filter-checkbox-bg bg-${color.class}` type='checkbox')
            span.form-checkbox-title= color.name