- 
  const sizes = [
    {name: 'One size', growth1: 'Рост H1', growth2: 'Рост H1'},
    {name: 'XS(RU36-38)', growth1: 'XS(RU36-38)', growth2: 'XS(RU36-38)'},
    {name: 'S(RU40-42)', growth1: 'S(RU40-42)', growth2: 'S(RU40-42)'},
    {name: 'M(RU44-46)', growth1: 'M(RU44-46)', growth2: 'M(RU44-46)'},
    {name: 'L(RU48-50)', growth1: 'L(RU48-50)', growth2: 'L(RU48-50)'},
    {name: 'XL(RU52-54)', growth1: 'XL(RU52-54)', growth2: 'XL(RU52-54)'},
    {name: 'XL(RU56-58)', growth1: '', growth2: ''},

    ]

.mobile-filter-item-content
    a.mobile-filter__link(href='#') Руководство по размерам
    each size in sizes
      .filter-row.filter-row__size
        label.form-checkbox
          input(class='form-item form-item--checkbox' type='checkbox')
          span.form-checkbox-title= size.name
        label.form-checkbox
            span.form-checkbox-title= size.growth1
        label.form-checkbox
            span.form-checkbox-title= size.growth2         