.delivery-map
  .delivery-map-title
    | Выберите на карте магазин, из которого будет удобно забрать самостоятельно. Магазины работают с 10 до 21 часа. Товар будет зарезервирован для вас, о чем придет смс уведомление.
  .delivery-map-holder
    | delivery-map-holder
  .delivery-map-selected
    strong Выбран: 
    span.delivery-map-selected-value
