.search-form__products-found
  .categories-most-viewed__text
    | По запросу «жабо» ничего не найдено.
    br
    |                 Попробуйте сократить запрос или сформулировать его иначе.
  .categories-most-viewed__title Часто просматриваемые категории
  ul.categories-most-viewed__list
    li
      a(href='#') ПЛАТЬЯ
    li
      a(href='#') ФУТБОЛКИ
    li
      a(href='#') ТОПЫ
    li
      a(href='#') БОМБЕРЫ
    li
      a(href='#') РУБАШКИ
    li
      a(href='#') юбки