#catalog-size.size-menu.size-menu_visible1
  .size-inner
    .size-open.size-menu__close1.size-menu__close
    .size-menu-sections
      .size-menu__title Таблица размеров
      .size-menu__text
        | Этот справочник по размерам носит ориентировочный характер.
        | Если у вас уже есть похожая модель нашего бренда, размер
        | которой вам подходит, рекомендуем выбрать тот же размер.
      //- // ----size table------------------------------------------
      .size-table(id='#tabNav')
        .size-items.tabs-heading
          label.active(data-tab='#size-tabs_one' data-tabs='.size-tab')
            .size-item-content
              .size-item-title XS
          label(data-tab='#size-tabs_two' data-tabs='.size-tab')
            .size-item-content
              .size-item-title S
          label(data-tab='#size-tabs_three' data-tabs='.size-tab')
            .size-item-content
              .size-item-title M
          label(data-tab='#size-tabs_four' data-tabs='.size-tab')
            .size-item-content
              .size-item-title L
          label(data-tab='#size-tabs_five' data-tabs='.size-tab')
            .size-item-content
              .size-item-title XL
          label(data-tab='#size-tabs_six' data-tabs='.size-tab')
            .size-item-content
              .size-item-title Рост H1
          label(data-tab='#size-tabs_seven' data-tabs='.size-tab')
            .size-item-content
              .size-item-title Рост H2
        .tabs-content
          #size-tabs_one.tab-content-item.size-tab.active
            .table-size
              .table-size__row
                div Российский размер
                div 40 – 42
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_two.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 42 – 44
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_three.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 44 – 46
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_four.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 46 – 48
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_five.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 48 – 50
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_six.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 50 – 52
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
          #size-tabs_seven.tab-content-item.size-tab
            .table-size
              .table-size__row
                div Российский размер
                div 52 – 54
              .table-size__row
                div Обхват груди, см
                div 80 – 86
              .table-size__row
                div Обхват талии, см
                div 58 – 84
              .table-size__row
                div Обхват бёдер, см
                div 86 – 92
      //- // ----/size table------------------------------------------
      .size-menu__title.size-menu__title_left Как снять мерки для себя
      .size-img
        img(src='../dummy/SizeGuide.jpg' alt='Как снять мерки для себя')
