
header.page-header.page-header-fixed1
  //- основное меню
  include menus/header-menu.pug
  //- меню 'Покупателям'
  include menus/catalog-buyer-menu.pug
  //- меню 'Поиск'
  include menus/catalog-search-menu.pug
  //- меню 'Каталог'
  include menus/catalog-menu.pug
  //- меню 'Корзина'
  include menus/basket-menu.pug
  //- меню 'Корзина' - не авторизирован польз-ль
  //- include menus/basket-menu-empty
  //- для стр товара
  include menus/size-menu  