.search-form
  input.search-form__input.form-item.form-item--text(type='text' placeholder='')
  button.search-form__clear.btn.btn--medium(type='button')
  button.search-form__submit.btn.btn--black.btn--medium(type='submit') Найти
