
form.form
  .form-row
    label.form-label(for='reason_canceling_order') Укажите, прожалуйста, причину отмены заказа
    textarea#reason_canceling_order.form-item.form-item--textarea.mw-600(placeholder='')

  .form-row
    .row-btns
      button.btn.btn--black.btn--medium(type='submit') Отменить заказ
      span.m-4
        a.link.link--black_border(href='orders.html') Вернуться в текущие заказы
