.order-items
  .order-item.noborder
    .mb-5.d-none.d-lg-block
      a.link.link--black_border(href='orders.html') Вернуться в текущие заказы
    .order-item-title.h2 Вы уверены, что хотите отменить Заказ № 21112 от 03.02.2021?
    .mb-4
        span.badge.red.m-0 Отмена заказа необратима
    .mb4 
        include form-order-cancel