@import '../variables';

.mobile-filter label,
.mobile-filter input {
    /* label */
    font-weight: lighter;
}


// -------#auth-form_email----------------------

.forgot-password {
    padding: 0 45px;
}



#auth-form {
    padding-top: 100px;

    .page-popup-title {
        margin-bottom: 20px;
    }

    .page-popup-title--small {
        margin-bottom: 50px;
    }

    .form-row {
        margin-bottom: 33px;
    }

    .new-code {
      color: #7C7C7C;
      text-align: center;
    }
}


.reg-form {
    &__width {
        max-width: 500px;
        margin: auto;

        @media screen and (max-width: 768px) {
            max-width: calc(100% - 2*30px); 
        }
    }   

}

// jsf элементы

.jcf-number {
    position: relative;
    top: -5px;
    display: block;
    width: 106px;
    height: 55px;
    padding: 0 28px;
    border: 1px solid $color-border-input;
    border-radius: 5px;
  }

  .jcf-number input {
    font-family: 'SFProDisplay', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
  }



  .jcf-number .jcf-btn-inc,
.jcf-number .jcf-btn-dec {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s background-color cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.jcf-number .jcf-btn-inc:after,
.jcf-number .jcf-btn-dec:after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 30;
  text-align: center;
  color: $color-black;
  -webkit-transition: 0.3s color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.3s color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.3s color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.3s color cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s color cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.jcf-number .jcf-btn-inc:hover:after,
.jcf-number .jcf-btn-dec:hover:after {
  color: #666;
}

.jcf-number .jcf-btn-inc {
  right: 0;
}

.jcf-number .jcf-btn-inc:after {
  content: "+";
  line-height: 30px;
}

.jcf-number .jcf-btn-dec {
  left: 0;
}

.jcf-number .jcf-btn-dec:after {
  content: "–";
  line-height: 30px;
}


.jcf-number input::-webkit-outer-spin-button,
.jcf-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.jcf-range {
  position: relative;
  display: block;
  padding: 25px 0;
}

.jcf-range:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f8f8f8;
}

.jcf-range .jcf-range-wrapper {
  display: block;
  width: 100%;
}

.jcf-range .jcf-range-display-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.jcf-range .jcf-range-display-wrapper .jcf-range-display {
  position: absolute;
  display: block;
  height: 2px;
  background-color: $color-black;
}

.jcf-range .jcf-range-track {
  position: absolute;
  display: block;
  width: 100%;
}

.jcf-range .jcf-range-track .jcf-range-handle {
  position: absolute;
  top: -5.5px;
  margin-left: -6.5px;
  display: block;
  width: 13px;
  height: 13px;
  background-color: $color-black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.3s -moz-transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.3s -o-transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.3s -ms-transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.jcf-range .jcf-range-track .jcf-range-handle:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}