@import '../variables';

.message {
    // max-width: 527px;
    width: 60%;
    margin: auto;
    text-align: center;

    @media screen and (max-width:480px) { /* для thanks-for-order.html */
        width: 100%;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px; 
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 30px;
    }
}