.mobile-slider {
    display: block !important;
    padding: 0 10px;
    padding-bottom: 20px;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .mobile-slider::-webkit-scrollbar {
    height: 4px;
  }
  .mobile-slider::-webkit-scrollbar-track {
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
  .mobile-slider::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: transparent;
  }

  .mobile-slider > div,
  .mobile-slider > a {
    vertical-align: top;
    display: inline-block;
    white-space: normal;
  }

.mobile-slider {
    margin-bottom: 0;
  }
.mobile-slider .article-item {
    margin-right: 0px;
    margin-bottom: 0;
    padding: 0;
    max-width: 120px;
  }  

  .row.mobile-slider > * {
    width: auto;
  }

  .row.mobile-slider a {
    white-space: nowrap;
    text-decoration: none;
    color: #1D1D1D;

    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
  }