@import '../variables';

.search-form,
.search-results {
    display: flex;
}

.search-history,
.search-products {
    display: flex;
}

.search-results {
    flex-direction: row;
    margin-top: 55px;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}

.search-results__not-found {
    border: 1px solid $color-form-error;
    max-width: 560px;
    flex-direction: column;
    margin: 15px auto 30px auto;
    text-align: center;
}

.search-history {
    flex: 1;
    flex-direction: column;
}

.search-products {
    flex: 4;
}

.search-products__catalog-items {
    width: 100%;
}

.search-products__catalog-items .catalog-item-title {
    justify-content: center;
}


.search-form__input {
    padding-left: 45px !important;
    border: 1px solid $color-border-input;
    width: 100%;
}

.search-form {
    position: relative;
}

.search-form:before {
    content: "";
    margin-right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background: url(../../svg/search.svg) no-repeat center center;

    position: absolute;
    top: calc(50% - 12px);
    left: 15px;
}




.search-form__submit {
    margin-left: 20px;

}


.search-history__title {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.search-history__list {
    margin-bottom: 30px;
}

.search-history__list li {
    margin-bottom: 8px;
}

.search-history__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #1d1d1d;

}

.search-form__clear {
    min-width: 10px;
    background: url(../../svg/close.svg) no-repeat center center;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    right: 200px;
    position: absolute;
    opacity: 0;
}
.input__clear_visibility_visible {
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
    opacity: 1;
    transition: opacity .1s ease-out;
}

.search-form__form {
    margin-bottom: 0px;
}

.search-form__products-found {
    text-align: center;
    max-width: 430px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.categories-most-viewed__text { 
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 30px;

    @media screen and (max-width: 768px) { 
        margin-bottom: 15px; 
    }
}

.categories-most-viewed__title { 
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    // @media screen and (max-width: 768px) { 
    //     margin-top: 15px;
    // }
}

.categories-most-viewed__list {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    line-height: 50px;
}

.categories-most-viewed__list a {
    text-decoration: none;
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.you-may-like-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .search-form__submit {
        display: none;
    }
    .search-form__clear {
        right: 0;
    }
    
}