@import url(../fonts/fonts.css);
@import '../scss/variables';

@import '../scss/blocks/header-menu';
@import '../scss/blocks/catalog-menu';
@import'../scss/blocks/basket-menu';
@import '../scss/blocks/size-menu';
@import '../scss/blocks/catalog';
@import '../scss/blocks/page-note';
@import'../scss/blocks/filter';
@import '../scss/blocks/mobile-menu-filter';

@import '../scss/blocks/mobile-slider';


// переиспользуемые компоненты
@import '../scss/blocks/btns';
@import '../scss/blocks/form';
@import '../scss/blocks/page-popup';
// /переиспользуемые компоненты

@import '../scss/blocks/footer';
@import '../scss/blocks/search';
@import '../scss/blocks/form-tabs';
@import '../scss/blocks/order';
@import '../scss/blocks/product';
@import '../scss/blocks/product-photos'; //для слайдера на стр товаров
@import '../scss/blocks/sliders-style'; //для слайдеров

@import '../scss/blocks/complete-look';
@import '../scss/blocks/look';

@import '../scss/blocks/tables';
// @import '../scss/blocks/card-popup';

@import '../scss/blocks/favorites';
@import '../scss/blocks/basket';
@import'../scss/blocks/message';
/* стили сообщ типа 'СПАСИБО ЗА ЗАКАЗ!' */
@import '../scss/blocks/personal';
/* Личный кабинет */
@import '../scss/blocks/shop';
/* Личный кабинет */
@import '../scss/blocks/loyalty-card';
@import '../scss/blocks/big-grid';

#change-color-popup.page-popup,
#change-size-popup.page-popup {
  padding: 20px;
}

.page-popup {
  .size-list {
    flex-direction: column;
    align-items: center;

    li {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 12px 0;

      &:hover {
        color: #ffffff;
        background-color: #1D1D1D;
      }
    }
  }
  .product-list {
    gap: 25px;
    display: flex;
    flex-direction: column;
  }

  .product-list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #1D1D1D;

    &__img {
      display: flex !important;
      align-items: center;
      gap: 15px;
    }
  }

}





.section {
  margin-top: 46px;

  @media screen and (min-width:768px) {
    margin-top: 100px;
  }
}

.text-left {
  text-align: left;
}

.overflow-x {
  overflow-x: hidden;
}

.jcf-number {
  border-radius: 0px;
}

.nowrap {
  white-space: nowrap;
}

.w100 {
  width: 100%;
}

.max-w100 {
  max-width: 100%;
}

.page-inner--w3 {
  max-width: 1368px;
}

.title-block {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media screen and (max-width:768px) {
    font-size: 14px;
  }
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.plr0 {
  padding: 0 10px;
}

.hidden-x {
  overflow-x: hidden;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.txt-red {
  color: #FF300A;
}

.ml-auto {
  margin-left: auto;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-50px {
  margin-bottom: 50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.white-space-normal {
  white-space: normal;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.mt-60px {
  margin-top: 60px;
}

.bold {
  font-weight: bold;
}

.tooltip_templates {
  display: none;
}



.order-aside-sticky {
  top: 20px;
  position: sticky;
}

.sport-delivery--title-big {
  font-family: 'DrunkWideCyr', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media screen and (min-width: 480px) {
  .sport-delivery--title-big {
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 576px) {
  .sport-delivery--title-big {
    font-size: 33px;
    line-height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .sport-delivery--title-big {
    font-size: 40px;
    line-height: 72px;
  }
}

@media screen and (min-width: 990px) {
  .sport-delivery--title-big {
    font-size: 56px;
    line-height: 72px;
  }
}

.sport-delivery--img-row .col-12 {
  padding: 0px;
}

.sport-delivery--img-row .col-lg-6 {
  margin-bottom: 50px;

}

.sport-delivery--img {
  border-radius: 25px;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sport-delivery--text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.sport-delivery--title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}


.big-logo {
  font-family: 'DrunkWideCyr', 'Arial', sans-serif;
  font-weight: 400;
  /* font-size: 134px; */
  line-height: 122px;
  text-transform: uppercase;
  text-align: center;

}

@media screen and (max-width: 320px) {
  .big-logo {
    font-size: 25px;
  }
}

@media screen and (min-width: 480px) {
  .big-logo {
    font-size: 38px;
  }
}

@media screen and (min-width: 576px) {
  .big-logo {
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .big-logo {
    font-size: 64px;
  }
}

@media screen and (min-width: 992px) {
  .big-logo {
    font-size: 82px;
  }
}

@media screen and (min-width: 1200px) {
  .big-logo {
    font-size: 100px;
  }
}

@media screen and (min-width: 1570px) {
  .big-logo {
    font-size: 134px;
  }
}

.news__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 0;
}

.news__lead,
.news__time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.news__lead {
  text-transform: uppercase;
}

.news__time {
  text-transform: lowercase;
}

.promo500-txt {
  font-size: 24px;
  line-height: 32px;
}

/* //шрифты  */

body,
.form-item {
  font-family: 'SFProDisplay', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}


.cards__list .catalog-item-photo-holder {
  padding-top: 137%;
}

.cards__list .catalog-item-photo-holder img {
  border-radius: 25px;
}

.product-basket .jcf-number {
  width: 130px;
}


/*-----------правки ------------------*/

/* Страница поиска */
.page-section--search {
  padding: 0;
}

/* Страница бренда */

// .page-section--brand {
//   /* padding: 55px 0 15px 0; */
//   // padding: 81px 0 15px 0;
// }

.product-basket {
  display: flex;
  margin-bottom: 30px;
}

.product-basket .product-buy {
  margin-bottom: 0px;
  margin-left: 10px;
}

.product-basket .jcf-number {
  top: 0;
  width: 105px;
}

.product-basket .jcf-disabled:after {
  color: #dcdcdc;
}

/* //---------tooltip-------------- */
#open-popup {
  padding: 20px
}

.white-popup {
  position: relative;
  background: #FFF;
  width: auto;
  border-radius: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.white-popup p {
  margin: 10px;
}

.tooltipster-white {
  min-width: 400px;
  right: 15px;
  left: auto !important;
  height: auto !important;
  box-shadow: 2px 0px 14px rgba(96, 96, 96, 0.2);
}

.tooltipster-white .tooltipster-box {
  padding: 15px;
}

.tooltipster-white .tooltipster-content {
  max-width: 100%;
}

/* --------add-favorites----- */
.add-favorites {
  display: flex;
  gap: 20px;
}

.add-favorites__img {
  width: 40px;
  height: 60px;
  display: flex;
}

.add-favorites__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-favorites__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

/* --------/add-favorites----- */


/* заголовки */

.page-heading-title {

  font-weight: 600;
  font-size: 36px;
  line-height: 46px;

  &_personal {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}



/* .page-heading-title {
  color: $color-black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .page-heading-title {
    border: 1px solid red;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
} */

.page-text h1,
.h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

// расстояния от шапки до контента и от контента до футера
.page-content {
  // border: 1px solid red;
  margin-top: 15px;
  margin-bottom: 340px;

  @media screen and (max-width:768px) {
    margin-bottom: 70px;
  }
}