@charset "UTF-8";
/*** Settings ***/
/*** //Settings ***/
/*** Design variables ***/
/*** //Design variables ***/
/*** Base ***/
.only-desktop {
  display: block;
}

.only-mobile {
  display: none;
}

.header-burger {
  position: relative;
  left: -15px;
  padding: 7px 15px;
  cursor: pointer;
}

.header-burger .header-burger-inner {
  box-sizing: border-box;
  display: block;
  width: 18px;
  height: 14px;
  border-top: 2px solid #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
}

.header-burger .header-burger-inner {
  position: relative;
}

.header-burger .header-burger-inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1d1d1d;
}

/*** //Base ***/
/*** Nav ***/
.mobile-nav-holder {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-102%);
}

.mobile-nav-holder .mobile-close {
  z-index: 50;
}

.mobile-nav-holder .mobile-nav-scroll-holder {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: rgba(18, 18, 18, 0.6);
}

.mobile-nav-holder .mobile-nav-scroll-inner {
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 50px);
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #fff;
}

.mobile-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10500;
  display: block;
  width: 50px;
}

.mobile-close .mobile-close-btn {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  text-decoration: none;
}

.mobile-close .mobile-close-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../svg/icon_mobile_close.svg") no-repeat center center;
  background-size: 17px 17px;
}

.mobile-nav {
  background-color: #fff;
}

.mobile-nav .mobile-nav-inner {
  padding: 20px;
}

.mobile-nav .mobile-nav-contacts .mobile-nav-inner {
  padding: 30px 20px;
  border-top: none;
}

.mobile-nav .mobile-nav-contacts .mobile-nav-contacts-items .mobile-nav-contact-item {
  margin-bottom: 10px;
  font-size: 14px;
}

.mobile-nav .mobile-nav-contacts .mobile-nav-contacts-items .mobile-nav-contact-item:last-child {
  margin-bottom: 0;
}

.mobile-nav .mobile-nav-title {
  padding: 100px 20px 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.mobile-nav .mobile-nav-heading {
  padding: 15px 0;
  border-bottom: 1px solid #e1e1e1;
}

.mobile-nav .mobile-nav-heading .mobile-nav-heading-items {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-flow: row wrap;
  -o-box-align: center;
  align-items: center;
  -o-box-pack: justify;
  justify-content: space-between;
}

.mobile-nav .mobile-nav-heading .mobile-nav-heading-items .mobile-nav-heading-item {
  width: 50%;
}

.mobile-nav .mobile-nav-heading .mobile-nav-heading-items .mobile-nav-heading-item .mobile-nav-heading-item-link--select {
  position: relative;
  padding-right: 15px;
}

.mobile-nav .mobile-nav-heading .mobile-nav-heading-items .mobile-nav-heading-item .mobile-nav-heading-item-link--select:after {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #121212;
  transition: 0.2s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mobile-blocks .mobile-block {
  display: none;
}

.mobile-blocks .mobile-block.show {
  display: block;
}

.mobile-blocks .mobile-block .page-popup {
  padding: 0 0 10px 0;
}

.mobile-back {
  position: absolute;
  left: 14px;
  top: 35px;
  display: block;
  padding-left: 30px;
  font-size: 14px;
  text-decoration: none;
  color: #1d1d1d;
}

.mobile-back:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../svg/mobile_rarr.svg") no-repeat center center;
  background-size: contain;
  transform: rotate(-180deg) translateY(50%);
}

body.show-cities .mobile-nav-heading-item-link--select:after {
  transform: rotate(-180deg);
}

body .mobile-nav-menu-title {
  padding: 30px 20px 0 20px;
}

body .mobile-nav-menu {
  padding: 30px 0;
  font-size: 14px;
}

body .mobile-nav-menu--gray {
  background-color: #f4f4f4;
}

body .mobile-nav-menu-item-holder {
  position: relative;
  padding: 7px 20px;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item {
  display: block;
  font-size: 16px;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item.large {
  padding: 3px 0;
  font-weight: bold;
  font-size: 21px;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item.medium {
  font-weight: bold;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item.special {
  display: inline-block;
  padding: 9px 25px;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
  text-transform: uppercase;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item.large:after,
body .mobile-nav-menu-item-holder .mobile-nav-menu-item.special:after,
body .mobile-nav-menu-item-holder .mobile-nav-menu-item.mobile-open-block:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background: url("../svg/mobile_rarr.svg") no-repeat center center;
  background-size: contain;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-item-add {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ed0972;
  border-radius: 50%;
  border-bottom: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

body .mobile-nav-menu-item-holder:last-child:after {
  display: none;
}

body .mobile-nav-menu-item-holder--has-submenu {
  padding-right: 50px;
}

body .mobile-nav-menu-item-holder--has-submenu:before {
  content: "+";
  position: absolute;
  right: 20px;
  top: 8px;
  display: block;
  font-size: 22px;
  line-height: 1;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-level1 {
  display: none;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-level1-inner {
  margin-top: 10px;
}

body .mobile-nav-menu-item-holder .mobile-nav-menu-level1-item-holder .mobile-nav-menu-level1-item {
  display: block;
  padding: 8px 0;
}

body .mobile-nav-menu-item-holder .mobile-nav-banners {
  margin-top: 10px;
  display: none;
}

body .mobile-nav-menu-item-holder .mobile-nav-banners .mobile-nav-banner-item {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

body .mobile-nav-menu-item-holder .mobile-nav-banners .mobile-nav-banner-item img {
  display: block;
  width: 100%;
  height: auto;
}

body .mobile-nav-menu-item-holder .mobile-nav-banners .mobile-nav-banner-item:last-child {
  margin-bottom: 0;
}

body .mobile-nav-menu-item-holder.open .mobile-nav-menu-level1 {
  display: block;
}

body .mobile-nav-menu-item-holder.open .mobile-nav-banners {
  display: block;
}

body .mobile-nav-menu-item-holder.open:before {
  content: "–";
  line-height: 20px;
}

.show-menu {
  overflow: hidden;
}

.show-menu .mobile-nav-holder {
  transform: translateX(0);
}

/*** //Nav ***/
/*** Filter ***/
.mobile-filter-open {
  text-transform: uppercase;
}

.mobile-filter-holder {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-102%);
}

.mobile-filter-holder .mobile-close {
  z-index: 50;
  right: auto;
  left: 0;
}

.mobile-filter-holder .mobile-filter-scroll-holder {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: rgba(18, 18, 18, 0.8);
}

.mobile-filter-holder .mobile-filter-scroll-inner {
  position: relative;
  z-index: 100;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 25px 0 90px 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #fff;
}

.mobile-filter {
  position: relative;
  background-color: #fff;
}

.mobile-filter .mobile-filter-close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../svg/basket_remove.svg") no-repeat center center;
  background-size: contain;
}

.mobile-filter-heading {
  margin-bottom: 15px;
  padding: 35px 20px 0 20px;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-flow: row wrap;
  -o-box-align: center;
  align-items: center;
  -o-box-pack: justify;
  justify-content: space-between;
}

.mobile-filter-heading .mobile-filter-heading-title {
  margin-bottom: 0;
  font-weight: bold;
}

.mobile-filter-heading .mobile-filter-heading-reset {
  font-family: "SFProDisplay";
  line-height: 1;
}

.mobile-filter-item {
  position: relative;
  padding: 5px 20px;
  border-bottom: 1px solid #1d1d1d;
}

.mobile-filter-item:first-child {
  border-top: 1px solid #1d1d1d;
}

.mobile-filter-item:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 22px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #121212;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  transform: translateY(-5px);
  transition: 0.3s opacity cubic-bezier(0.25, 0.46, 0.45, 0.94), 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mobile-filter-item.selected:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  transform: translateY(0);
}

.mobile-filter-item .mobile-filter-item-heading {
  position: relative;
  padding: 12px 0;
  cursor: pointer;
}

.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-toggler {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  font-size: 19px;
  line-height: 1;
}

.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-toggler:before,
.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-toggler:after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
}

.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-toggler:before {
  content: "+";
}

.mobile-filter-item .mobile-filter-item-heading .mobile-filter-item-heading-toggler:after {
  content: "–";
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  line-height: 20px;
}

.mobile-filter-item .mobile-filter-item-content {
  padding: 10px 0;
  display: none;
}

.mobile-filter-item .filter-price .filter-price-fields {
  margin-bottom: 15px;
}

.mobile-filter-item .filter-price .filter-price-fields .filter-price-field-item {
  width: 45%;
  min-width: 100px;
}

.mobile-filter-item .brand-search {
  margin-bottom: 20px;
}

.mobile-filter-item .brand-search .brand-search-field {
  padding-right: 40px;
  background: url("../svg/icon_loupe.svg") no-repeat 95% center;
}

.mobile-filter-item .filter-brand {
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  flex-flow: row nowrap;
  -o-box-align: start;
  align-items: flex-start;
  -o-box-pack: justify;
  justify-content: space-between;
}

.mobile-filter-item .filter-brand:last-child {
  margin-bottom: 0;
}

.mobile-filter-item .filter-brand .filter-brand-title {
  width: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}

.mobile-filter-item .filter-brand .filter-brand-content {
  width: calc(100% - 25px);
}

.mobile-filter-item .mobile-filter-brands {
  max-height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}

.mobile-filter-item.open .mobile-filter-item-heading .mobile-filter-item-heading-toggler:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.mobile-filter-item.open .mobile-filter-item-heading .mobile-filter-item-heading-toggler:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.mobile-filter-item.open .mobile-filter-item-content {
  display: block;
}

.mobile-filter-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.show-filter {
  overflow: hidden;
}

.show-filter .mobile-filter-holder {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  transform: translateX(0);
}

/*** //Filter ***/
/*** Search ***/
.page-search {
  position: relative;
}

.page-search .page-search-input {
  position: relative;
  z-index: 10;
  padding-right: 50px;
}

.page-search .page-search-submit {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  z-index: 20;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../svg/loupe_gray.svg") no-repeat center center;
  background-size: contain;
}

.mobile-search {
  position: fixed;
  z-index: 100;
  top: 80px;
  display: none;
  min-height: 70vh;
  max-height: calc(100vh - 90px);
  padding: 60px 0;
  background-color: #fff;
}

.mobile-search .mobile-search-form {
  margin-bottom: 30px;
  position: relative;
}

.mobile-search .mobile-search-form .mobile-search-form-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px 5px 0;
  border-bottom: 1px solid #a4a1a1;
  font-size: 24px;
  line-height: 32px;
}

.mobile-search .mobile-search-form .mobile-search-form-input::-moz-placeholder {
  color: #e1e1e1;
  font-weight: bold;
}

.mobile-search .mobile-search-form .mobile-search-form-input:-ms-input-placeholder {
  color: #e1e1e1;
  font-weight: bold;
}

.mobile-search .mobile-search-form .mobile-search-form-input::placeholder {
  color: #e1e1e1;
  font-weight: bold;
}

.mobile-search .mobile-search-form .mobile-search-form-submit {
  position: absolute;
  right: 0;
  top: 15px;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
  background: url("../svg/loupe_gray.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  transition: 0.3s opacity cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mobile-search .mobile-search-form .mobile-search-form-submit:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.mobile-search .mobile-search-suggestions {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-align: center;
  align-items: center;
  -o-box-pack: start;
  justify-content: flex-start;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  flex-flow: row wrap;
}

.mobile-search .mobile-search-suggestions a {
  margin: 0 30px 20px 0;
}

/* .size-open, */
.search-open {
  overflow: hidden;
}

.search-open .header-toolbar .header-toolbar-item--search img {
  display: none;
}

.search-open .header-toolbar .header-toolbar-item--search img.hide {
  display: block;
}

.search-open .mobile-search {
  display: block;
}

/*** //Search ***/
@media screen and (max-width: 1100px) {
  .header-menu .header-menu-item {
    margin-right: 15px;
    font-size: 14px;
  }
  .footer-content {
    margin-bottom: 80px;
  }
  .personal-menu {
    padding: 20px;
  }
}
@media screen and (max-width: 960px) {
  .only-desktop {
    display: none !important;
  }
  .only-mobile {
    display: block;
  }
  body {
    font-size: 14px;
  }
  .page-inner--mobile_empty {
    padding: 0;
  }
  .page-inner .page-inner {
    padding: 0;
  }
  .fs16 {
    font-size: 16px;
  }
  .page-header {
    padding: 10px 0;
  }
  .page-note .page-note-inner {
    padding: 0 20px;
  }
  .page-note .page-note-text {
    font-size: 12px;
  }
  .page-note .page-note-close {
    right: -10px;
    top: -4px;
    background-size: 12px;
  }
  .header-toolbar {
    -o-box-orient: horizontal;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    flex-flow: row nowrap;
  }
  .header-toolbar .header-toolbar-item {
    margin-right: 10px;
  }
  .header-toolbar .header-toolbar-item .hide {
    display: none;
  }
  .page-heading {
    margin-bottom: 30px;
  }
  .page-heading img {
    max-width: 40%;
  }
  .page-heading .page-heading-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .header-logo {
    margin: 0 auto;
  }
  /* .footer-top {
    margin-bottom: 55px;
  } */
  .footer-content {
    margin-bottom: 40px;
  }
  .footer-menu-content {
    display: none;
  }
  .footer-menu .footer-menu-item-holder {
    margin-bottom: 17px;
  }
  .footer-menu-title {
    position: relative;
    margin-bottom: 0;
  }
  .footer-menu-title:after {
    content: "+";
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
  }
  .open .footer-menu-title:after {
    content: "–";
    right: 1px;
  }
  .open .footer-menu-content {
    display: block;
    padding-top: 15px;
  }
  .breadcrumbs {
    margin-top: -30px;
    margin-bottom: 40px;
  }
  .page-section {
    padding: 50px 0;
  }
  hr {
    margin: 40px 0;
  }
  .instagram-info {
    margin-top: 60px;
  }
  .badge {
    margin: 5px 10px;
  }
  .page-text table {
    margin-bottom: 40px;
  }
  .glossary .glossary-tools {
    margin: 20px 0 20px 0;
  }
  .glossary .glossary-letters {
    display: block;
    padding-bottom: 10px;
    overflow: auto;
    white-space: nowrap;
  }
  .glossary .glossary-letters > a {
    margin-right: 10px;
  }
  .glossary .glossary-block {
    padding: 20px 0;
    font-size: 16px;
    line-height: 30px;
  }
  .form-row {
    margin-bottom: 20px;
  }
  .jcf-number {
    top: 0;
    height: 25px;
    width: 80px;
    border: none;
  }
  .jcf-number input {
    padding: 4px 0;
  }
  .catalog-toolbar {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .catalog-links {
    margin-bottom: 15px;
    display: block;
    overflow: auto;
    padding: 0 20px;
    white-space: nowrap;
  }
  .catalog-links .col-auto {
    display: inline-block;
  }
  .catalog-items {
    margin-bottom: -40px;
  }
  .catalog-items--slider {
    margin-bottom: 0;
  }
  .catalog-items + .catalog-items {
    margin-top: 40px;
  }
  .catalog-items--slider .catalog-item {
    margin: 0 5px;
  }
  .catalog-items--slider .catalog-item.brand {
    margin: 0 15px;
  }
  .catalog-items--slider .catalog-item.popup {
    margin: 0 5px;
  }
  .catalog-item {
    margin-bottom: 50px;
  }
  /* .order-content .order-table .order-table-delete {
    position: absolute;
    right: 5px;
    top: 17px;
    bottom: auto;
    width: 24px;
    height: 24px;
    -webkit-background-size: 14px 14px;
    -moz-background-size: 14px 14px;
    background-size: 14px 14px;
  } */
  /* .tabs-heading {
    display: block;
    overflow: auto;
    white-space: nowrap;
  } */
}
@media screen and (max-width: 960px) and (max-width: 480px) {
  .catalog-item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item .catalog-item-labels {
    left: 10px;
    top: 10px;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item .catalog-item-labels .catalog-item-label {
    padding: 0 4px;
    min-width: 30px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item .catalog-item-like {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item.w3 .catalog-item-photo-holder {
    border-radius: 10px;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item.w3 .catalog-item-photo-holder .btn {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .catalog-item.w3 .catalog-item-title {
    margin-top: 20px;
  }
}
@media screen and (max-width: 960px) {
  .load-more-holder {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 960px) {
  .load-more-holder .btn {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .product {
    position: relative;
    margin: 0;
  }
}
@media screen and (max-width: 960px) {
  .product .product-media-holder {
    margin-top: -50px;
    padding: 0;
  }
}
@media screen and (max-width: 960px) {
  .product .product-media {
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (max-width: 960px) {
  .product .product-labels {
    z-index: 10;
    right: 20px;
    top: -30px;
    left: auto;
  }
}
@media screen and (max-width: 960px) {
  .product .product-info {
    padding: 25px 8px 0 8px;
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .product .product-info .product-colors .product-color {
    width: 24%;
  }
}
@media screen and (max-width: 960px) {
  .product .product-info .breadcrumbs {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 960px) {
  .product .product-info .product-title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 960px) {
  .page-product .page-section.border:first-child {
    border-top: none;
  }
}
@media screen and (max-width: 960px) {
  .order-item {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: none;
  }
}
@media screen and (max-width: 960px) {
  .order-item:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 960px) {
  .order-table:not(.basket) > .row {
    position: relative;
    padding: 30px 0;
  }
}
@media screen and (max-width: 960px) {
  .order-table:not(.basket) > .row:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
    right: calc(var(--bs-gutter-x) * 0.5);
    display: block;
    height: 1px;
    background-color: #1d1d1d;
  }
}
@media screen and (max-width: 960px) {
  .order-table:not(.basket) > .row:after {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .order-table:not(.basket) > .row:last-child {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 960px) {
  .order-table:not(.basket) > .row:last-child:after {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks {
    position: relative;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    display: block;
    height: 100%;
    background-color: #F6F5F5;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks .personal-block {
    margin-top: -1px;
    padding: 15px 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #E1E1E1;
    text-align: left;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks > div:first-child .personal-block {
    border-top: 1px solid #E1E1E1;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks .personal-block span,
.personal-blocks .personal-block ins {
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    width: auto;
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 960px) {
  .personal-blocks .personal-block ins {
    margin-left: 10px;
    min-width: 20px;
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (max-width: 960px) {
  .mobile-table-summary {
    padding-top: 30px;
    border-top: 1px solid #1d1d1d;
  }
}
@media screen and (max-width: 960px) {
  .order-content {
    margin: -20px 0 50px 0;
    padding: 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) {
  .order-content .mobile-table-summary {
    padding-top: 25px;
  }
}
@media screen and (max-width: 960px) {
  .order-content .order-table {
    margin: 0;
  }
}
@media screen and (max-width: 960px) {
  .order-content .order-table > .row {
    position: relative;
    padding: 25px 0;
  }
}
@media screen and (max-width: 960px) {
  .order-content .order-table .basket-name-holder {
    padding-right: 20px;
  }
}
@media screen and (max-width: 960px) {
  .order-aside {
    margin-left: -20px;
    margin-right: -20px;
    padding: 40px 20px;
    border-radius: 0;
  }
}
@media screen and (max-width: 960px) {
  .order-block {
    margin-bottom: 30px;
    padding-top: 20px;
    overflow: hidden;
  }
}
@media screen and (max-width: 960px) {
  .order-block .h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 960px) {
  .tabs-heading .tab-heading-item {
    vertical-align: bottom;
    display: inline-block;
  }
}
@media screen and (max-width: 960px) {
  .page-popup {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 960px) {
  .page-popup .page-popup-heading .page-popup-heading-title img {
    margin-left: 15px;
    max-width: 50px;
  }
}
@media screen and (max-width: 760px) {
  .catalog-item.w3 .catalog-item-photo-holder {
    padding-top: 100%;
  }
}/*# sourceMappingURL=project.responsive.css.map */