.col-12
  .catalog-item-text
    .catalog-item-text__title
      | ПЛАТЬЯ И КОМБИНЕЗОНЫ НОВОГО
      | СЕЗОНА ДЛЯ ЖЕНЩИН
    .catalog-item-text__lid
      | Подготовьте свой гардероб к первым дням весны с нашей новой подборкой,
      br
      | в которую вошли новые модели актуальных оттенков
    a.link-more(href='#') Подробнее