each item in catalogStaticDress
 .col-12
  .catalog-item-text
    .catalog-item-text__title= item.title
    .catalog-item-text__lid= item.lid
    a.link-more.link-more-js(href=`${item.href}`) Подробнее
    div.d-none= item.text
        //- | текст подробнее
        //- | текст подробнее
        //- | текст подробнее