
- for (var x = 0; x < 2; x++)

  .order-items.order-items__personal
    .order-item.noborder
      .order-item-title Заказ № 21112 от 03.02.2021
      .order-item-info.row.mb-3
        .col-md-3.mb-4.mb-lg-0
          p
            b Статус
          p Ожидается доставка
        .col-md-3.mb-4.mb-lg-0
          p
            b Сумма заказа
          p
            | 11 390 Р
            br
            | Cпособ оплаты: Онлайн картой на сайте
        .col-md-3.mb-4.mb-lg-0
          p
            b Дата доставки
          p 07.03.2021
        .col-md-3
          p
            b Доставка
          p Пункт выдачи посылок СДЭК Ростов-на-Дону, ул. Ленина, 44
      .d-none.d-lg-block
        .row.justify-content-between.align-items-center.mb-5
          .col-md-3.mb-4.mb-lg-0
            a.link.link--black_border(href='last-order.html') Подробнее о заказе
          .col-md-3.mb-4.mb-lg-0
            a.link.link--black_border(href='#') Отследить заказ
          .col-md-3.mb-4.mb-lg-0
          .col-md-3.mb-4.mb-lg-0
            a.btn.btn--medium.btn--black(href='#') ПОВТОРИТЬ ЗАКАЗ
      .d-lg-none
        .row.mt-4
          .col-12.mb-4
            a.btn.btn--medium.btn--black.btn--fullwidth(href='#') ПОВТОРИТЬ ЗАКАЗ
          .col-12.center
            a.link.link--black_border(href='last-order.html') Подробнее о заказе
      include ../personal/items-in-order
