.order-table.mb-4
  .d-none.d-lg-block
    .row.align-items-end
      .col-lg-3
        b Тип плательщика
      .col-lg-3
        b Данные плательщика
      .col-lg-4
        b Адрес
      .col-lg-2
        b Действия
  .row
    .col-lg-3.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Тип плательщика
      | Физическое лицо
    .col-lg-3.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Данные плательщика
      | Максим Петров
    .col-lg-4.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Адрес
      | РФ, Ростовская область, Ростов-на-Дону, Евдокимова 30 Е, 22
    .col-lg-2
      a.link.link--black_border(href='profile.html') Изменить
  .row
    .col-lg-3.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Тип плательщика
      | Юридическое лицо
    .col-lg-3.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Данные плательщика
      | ООО «Партнер»
    .col-lg-4.mb-4.mb-lg-0
      .d-lg-none.mb-2
        b Адрес
      | РФ, Ростовская область, Ростов-на-Дону, Ленина 110, 221
    .col-lg-2
      a.link.link--black_border(href='profile.html') Изменить
.d-lg-none
  a.btn.btn--black.btn--medium.btn--fullwidth.mt-5(href='profile.html') Добавить плательщика
.d-none.d-lg-block
  a.link.link--black_border(href='profile.html') Добавить плательщика
