#auth-form.page-popup.mfp-hide
  .page-popup-inner
    .page-popup-title Войти
    .page-popup-title--small Введите свою почту и пароль, чтобы войти.
    form.form
      .tabs.form-tabs
        .tabs-heading.form-tabs-heading
          .form-tabs-heading-items
            .tab-heading-item.active.form-tab-heading-item(data-tab='#auth-form_email' data-tabs='.auth-tab') Войдите по E-mail
            .tab-heading-item.form-tab-heading-item(data-tab='#auth-form_phone' data-tabs='.auth-tab') Войдите через смс
        .tabs-content.form-tabs-content
          #auth-form_phone.tab-content-item.auth-tab.show.form-tab-content-item
            .form-row
              label.form-label(for='auth_sms') Контактный телефон
              .form-item-holder
                input#auth_sms.form-item.form-item--text(type='email' name='auth_sms' required='' data-validation='')
            .form-row
              button.btn.btn--black.btn--medium.w100.max-w100(type='submit') ВЫСЛАТЬ КОД
            .form-row
              .form-group-inner
                a.link.link--black_simple(href='#')
                  span Я забыл пароль  
                a.link.link--black_simple(href='#')
                  span Регистрация
          #auth-form_email.tab-content-item.auth-tab.active.form-tab-content-item
            .form-row
              label.form-label(for='auth_email') Ваш E-mail
              .form-item-holder
                input#auth_email.form-item.form-item--text(type='email' name='auth_email' required='' data-validation='')
            .form-row
              label.form-label(for='auth_pass') Пароль
              .form-item-holder
                input#auth_pass.form-item.form-item--password(type='password' name='auth_pass' required='' data-validation='')
            .form-row
              button.btn.btn--black.btn--medium.w100.max-w100(type='submit') Войти
            .form-row
              .form-group-inner
                a.link.link--black_simple(href='#')
                  span Я забыл пароль  
                a.link.link--black_simple(href='#')
                  span Регистрация
#login-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b Вход
  form.form
    .form-fields
      .form-row
        label.form-label(for='login_form_login') Логин или e-mail
        input#login_form_login.form-item.form-item--text(type='text' name='login')
      .form-row
        label.form-label(for='login_form_password') Пароль
        input#login_form_password.form-item.form-item--text(type='password' name='password')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Войти
  .page-popup-buttons
    .row
      .col-6
        a.link.link--black(href='#restore-popup' data-popup='{"type":"inline"}')
          b Я забыл пароль
      .col-6
        a.link.link--black(href='register.html')
          b Регистрация
#restore-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b СМЕНИТЕ свой пароль
    .page-popup-heading-description
      | Введите адрес электронной почты, и мы направим письмо с инструкцией.
  form.form
    .form-fields
      .form-row
        label.form-label(for='restore_restore_email') Адрес электронной почты
        input#restore_restore_email.form-item.form-item--text(type='password' name='restore_email')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Войти
#callback-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b Заказать звонок
    .page-popup-heading-description Постараемся перезвонить в течение 15 минут в будни.
  form.form
    .form-fields
      .form-row
        label.form-label(for='callback_form_phone') Телефон
        input#callback_form_phone.form-item.form-item--text(type='text' name='phone' data-validation='{"message": "Укажите номер телефона", "pattern": "phoneRU", "mask": "+7 (999) 999-99-99"}' required='required' placeholder='+7 (__) ___-__-__')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Заказать
        .form-policy
          .page-text
            .small
              | Нажимая кнопку вы даете согласие на обработку 
              a(href='#') персональных данных
#mail-popup.page-popup.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase
      b Задать вопрос
    .page-popup-heading-description Постараемся перезвонить в течение 15 минут в будни.
  form.form
    .form-fields
      .form-row
        label.form-label(for='mail_form_name') Вопрос
        textarea#mail_form_name.form-item.form-item--textarea(placeholder='')
      .form-row
        label.form-label(for='mail_form_name') Имя
        input#mail_form_name.form-item.form-item--text(type='text' name='name' placeholder='Например, Иван')
      .form-row
        label.form-label(for='mail_form_phone') Телефон
        input#mail_form_phone.form-item.form-item--text(type='text' name='phone' data-validation='{"message": "Укажите номер телефона", "pattern": "phoneRU", "mask": "+7 (999) 999-99-99"}' required='required' placeholder='+7 (__) ___-__-__')
      .form-row
        button.btn.btn--black.btn--medium.btn--fullwidth(type='submit') Заказать
        .form-policy
          .page-text
            .small
              | Нажимая кнопку вы даете согласие на обработку 
              a(href='#') персональных данных
#buy-popup.page-popup.buy.mfp-hide
  .page-popup-heading
    .page-popup-heading-title.h1.uppercase ТОВАР ДОБАВЛЕН В КОРЗИНУ
  .row.mb-4.mt-4
    .col-12.col-lg-5.mb-4.mb-lg-0
      .buy-popup-photo
        img.cover(src='../dummy/product/popup.jpg')
    .col-12.col-lg-7
      .h2.mb-2 Nike Phantom GT Elite FG
      .gray.mb-4 Мужские
      .lg-4.mb-lg-5
        b.mr-20 5 290 Р
        span.old 7 368 Р
      .mb-2 Цвет: чёрный
      .mb-2 Размер: 42
      .mb-2 Артикул: JHVF6O9VJU
  .row.justify-content-center.align-items-center.mb-5
    .col-12.mb-3.mb-lg-0.col-lg-auto
      a.btn.btn--black.btn--medium(href='make_order.html')
        | Оформить
        | заказ
    .col-12.col-lg-auto
      a.link.link--black_border.popup-close(href='#') Продолжить покупки
  .catalog
    .row.justify-content-between.align-items-center
      .col-auto
        .h1 С этим товаром покупают
      .col-auto.d-none.d-lg-block
        .slider-arrows
          span.slider-arrow.prev
            svg(width='59' height='58' viewBox='0 0 59 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M34.8888 40.4277L23.3359 28.8771L34.8888 17.3264' stroke='#1D1D1D' stroke-width='3')
          span.slider-arrow.next
            svg(width='59' height='58' viewBox='0 0 59 58' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M23.8182 17.3242L35.3711 28.8749L23.8182 40.4256' stroke='#1D1D1D' stroke-width='3')
    .catalog-items.row.catalog-items--slider(data-params='{"slidesToShow": 3, "slidesToScroll": 3}')
      .col-md-2
        .catalog-item.w1.popup
          .catalog-item-photo-holder
            img.cover(src='../dummy/product/p1.jpg')
          .catalog-item-title Детский футбольный комплект Nike Белый
          .catalog-item-price
            b 4 949 Р
          a.catalog-item-link(href='#')
          button.catalog-item-like(type='button')  
      .col-md-2
        .catalog-item.w1.popup
          .catalog-item-photo-holder
            img.cover(src='../dummy/product/p2.jpg')
          .catalog-item-title Шиповки Joma Top Flex 902.TF 2019
          .catalog-item-price
            b 4 949 Р
          a.catalog-item-link(href='#')
          button.catalog-item-like(type='button')  
      .col-md-2
        .catalog-item.w1.popup
          .catalog-item-photo-holder
            img.cover(src='../dummy/product/p3.jpg')
          .catalog-item-title Мяч футбольный Nike Strike Premier 
          .catalog-item-price
            b 4 949 Р
          a.catalog-item-link(href='#')
          button.catalog-item-like(type='button')  
.mobile-nav-holder
  .mobile-nav-scroll-holder
    .mobile-close
      .mobile-close-btn  
    .mobile-nav-scroll-inner
      .mobile-nav-scroll
        .mobile-nav
          #mobile.mobile-blocks
            #mobile-block_products.mobile-block(data-prev='#mobile-block_default')
              .mobile-nav-title Обувь
              nav.mobile-nav-menu(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
                ul.mobile-nav-menu-inner
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Футбол
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Кроссовки
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Баскетбол
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Воллейбол
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Кроссовки
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Единоборства
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Детские
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Легкая атлетика
              .mobile-nav-inner
                a.btn.btn--black_border.btn--small.btn--fullwidth(href='#') СМОТРЕТЬ ВСЮ ОБУВЬ
            #mobile-block_default.mobile-block.show
              nav.mobile-nav-menu(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
                ul.mobile-nav-menu-inner
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Обувь
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Эпикировка
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Аксессуары
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Командные виды спорта
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Фитнес, спортзал
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Активный отдых
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Самокаты, Ролики
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Теннис
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Плавание
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Туризм
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Тренировочный инвентарь
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Наградная продукция
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Спортивное оборудование
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black.mobile-open-block(href='#mobile-block_products' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Сумки и рюкзаки
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Бренды
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Акции
                  li.mobile-nav-menu-item-holder
                    a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                      span.mobile-nav-menu-item-name(itemprop='name') Виды спорта
          .mobile-nav-contacts
            .mobile-nav-inner
              .mobile-nav-contacts-items
                .mobile-nav-contact-item
                  a(href='tel:+78632273135') +7 (863) 227-31-35
                .mobile-nav-contact-item
                  a.link.link--black(href='#callback-popup' data-popup='{"type": "inline"}') Заказать звонок 
          nav.mobile-nav-menu.mobile-nav-menu--gray(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
            ul.mobile-nav-menu-inner
              li.mobile-nav-menu-item-holder
                a.mobile-nav-menu-item.link.link--black(href='dashboard.html' data-menu='' itemprop='url' target='')
                  span.mobile-nav-menu-item-name(itemprop='name') Личный кабинет
              li.mobile-nav-menu-item-holder
                a.mobile-nav-menu-item.link.link--black(href='favorites.html' data-menu='' itemprop='url' target='')
                  span.mobile-nav-menu-item-name(itemprop='name') Избранное
              li.mobile-nav-menu-item-holder
                a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                  span.mobile-nav-menu-item-name(itemprop='name') Контакты
              li.mobile-nav-menu-item-holder
                a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                  span.mobile-nav-menu-item-name(itemprop='name') Instagram
              li.mobile-nav-menu-item-holder
                a.mobile-nav-menu-item.link.link--black(href='#' data-menu='' itemprop='url' target='')
                  span.mobile-nav-menu-item-name(itemprop='name') Facebook
.mobile-filter-holder
  .mobile-filter-scroll-holder
    //
      div(class="mobile-close")
      div(class="mobile-close-btn")
    .mobile-filter-scroll-inner
      form.mobile-filter
        .mobile-filter-close
        .mobile-filter-heading
          .mobile-filter-heading-title Фильтры(4)
        .mobile-filter-items
          .mobile-filter-item
            .mobile-filter-item-heading
              .mobile-filter-item-heading-title Цвет(2)
              .mobile-filter-item-heading-toggler
            .mobile-filter-item-content
              .row
                .col-6
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox.bg-green(type='checkbox')
                      span.form-checkbox-title Бежевый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox.bg-red(type='checkbox')
                      span.form-checkbox-title Белый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Бирюзовый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Бордовый
                .col-6
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Бежевый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Белый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Бирюзовый
                  .filter-row
                    label.form-checkbox
                      input.form-item.form-item--checkbox(type='checkbox')
                      span.form-checkbox-title Бордовый
          .mobile-filter-item
            .mobile-filter-item-heading
              .mobile-filter-item-heading-title Материалы
              .mobile-filter-item-heading-toggler
            .mobile-filter-item-content
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Вискоза
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Кашемир
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Лен
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Мохер
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Полиэстер
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Хлопок
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Шерсть
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Шифон
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Эко-кожа
              .filter-row
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title Эко-мех
          .mobile-filter-item
            .mobile-filter-item-heading
              .mobile-filter-item-heading-title Размер
              .mobile-filter-item-heading-toggler
            .mobile-filter-item-content
              a.mobile-filter__link(href='#') Руководство по размерам
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title One size
                label.form-checkbox
                  span.form-checkbox-title Рост H1
                label.form-checkbox
                  span.form-checkbox-title РОСТ H2
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XS(RU36-38)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XS(RU36-38)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XS(RU36-38)
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title S(RU40-42)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title S(RU40-42)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title S(RU40-42)
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title M(RU44-46)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title M(RU44-46)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title M(RU44-46)
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title L(RU48-50)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title L(RU48-50)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title L(RU48-50)
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XL(RU52-54)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XL(RU52-54)
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XL(RU52-54)
              .filter-row.filter-row__size
                label.form-checkbox
                  input.form-item.form-item--checkbox(type='checkbox')
                  span.form-checkbox-title XL(RU56-58)
          .mobile-filter-item
            .mobile-filter-item-heading
              .mobile-filter-item-heading-title Сортировать (Цена по убыванию)
              .mobile-filter-item-heading-toggler
            .mobile-filter-item-content
              .filter-row
                label.form-radio
                  input.form-item.form-item--radio(type='radio' name='product')
                  span.form-radio-title Цена по убыванию
              .filter-row
                label.form-radio
                  input.form-item.form-item--radio(type='radio' name='product')
                  span.form-radio-title Цена по возврастанию
              .filter-row
                label.form-radio
                  input.form-item.form-item--radio(type='radio' name='product')
                  span.form-radio-title Сначала новые
              .filter-row
                label.form-radio
                  input.form-item.form-item--radio(type='radio' name='product')
                  span.form-radio-title Сначала хиты продаж
          .mobile-filter-item.open
            .mobile-filter-item-heading
              .mobile-filter-item-heading-title Цена
              .mobile-filter-item-heading-toggler
            .mobile-filter-item-content
              .filter-price
                .filter-price-fields
                  .filter-price-field-item
                    label.filter-price-field-item-title от
                    input.form-item.form-item--text.filter-price-field.filter-price-field--from(type='text' value='1000')
                  .filter-price-field-item
                    label.filter-price-field-item-title до
                    input.form-item.form-item--text.filter-price-field.filter-price-field--to(type='text' value='1000000')
                input.form-item.form-item--range(type='range' data-value='1000,1000000' value='1000, 1000000' min='1000' max='1000000' step='1' multiple='')
          .mobile-filter-btns
            button.btn.btn--black.btn--medium
              | ПОКАЗАТЬ РЕЗУЛЬТАТЫ (688)
            a.mobile-filter-reset(href='#' onclick='window.location.reload();return false;')
              | Очистить
              | фильтр
