extends layout/main

block variables
  - var title = 'поиск'
  - var mainPage = false


block content
  main.page-content
    .page-inner.page-inner--w3
      form.search-form__form(action="search.html")
        include modules/search-form
        include modules/search-rezult
        
    //- .page-inner.page-inner--w1  
    //-   include modules/filter

    .page-inner.page-inner--w2 
      //- include modules/catalog/search-static-dress-for-new-season
      include modules/catalog
    .page-inner--w1.page-inner
      .page-inner.page-inner--w2
        .catalog
          include modules/slider-prev-watched 