
extends layout/main

block variables
  - var title = 'Mагазины'
  - var mainPage = false


block content
  main.page-content
      .page-inner.page-inner--w1.page-inner--mobile_empty
        .page-shop-title.uppercase МАГАЗИНЫ
      .page-inner.page-inner--w2.page-inner--shops
        .filters-block-wrapper
          include modules/filters/filter-shops
        include modules/catalog-shops
